.nav-link {
    display: inline-block;
    width: 200px;
    background: rgb(5, 5, 101);
    color: white;
    font-size: 24px;
    opacity: 75%;
    border: 1px dotted black;

}

.title {
    color: white;
    font-size: 20px;
    background-color: rgb(5, 5, 101);
    width: 600px;
    margin: auto;
    opacity: 75%;
}

.wpar {
    color: white;
    font-size: 16px;
    background-color: rgb(5, 5, 101);
    width: 600px;
    margin: auto;
    opacity: 75%;
}

.par {
    color: white;
    font-size: 18px;
    background-color: rgb(5, 5, 101);
    width: 1200px;
    margin: auto;
    columns: 4;
    border: 1px dotted black;
    border-radius: 10px;
}

body {
    background-image: url(https://pictures.dealer.com/j/jackkisseefordfd/0478/b94dd6f82036593cb33a99e77914b3d8x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.logo {
    margin-top: 100%;
}